rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /posts/{docId} {
      allow create: if request.resource.data.nombre is string;
    }
  }
}
